#contratar_serviço #container {
  width: 100%; /* Ocupando todo espaço visivel*/
  height: 100vw; /* Ocupando toda largura visivel*/
}

#buscar_prestador {
  margin-top: 3.2rem;
  display: inline-grid;
}

#data {
  display: grid;
  margin-bottom: 3rem;
  height: fit-content;
  justify-content: center;
}

#data input {
  color: #000000;
}

#buscar_prestador label {
  color: #ffffff;
  font: 700 1.6rem Vidaloka;
}

#data label {
  display: flex;
  justify-content: center;
}

.page-header strong {
  color: #ffffff;
  font: 700 1.6rem Vidaloka;
  font-size: 2.5rem;
}

#buscar_prestador .select-block {
  margin-bottom: 1.4rem;
  display: inline-grid;
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.5rem 0;
}

.page-header .button_historico_servicos {
  width: 90%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0px;
  padding-top: 0px;
  width: 200px;
}

.page-header button {
  width: 100%;
  height: 5.6rem;
  background: #ffffff;
  color: #000000;
  border: 0;
  border-radius: 0.8rem;
  outline: 0;
  cursor: pointer; /* Quando passarmos o mouse sobre o botão, a setinha vira uma mãozinha */
  font: 700 1.6rem Vidaloka;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s;
  width: 200px;
}

.page-header .top-bar-container #botao_logout img {
  width: 35px;
  cursor: pointer;
}

.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s;
  left: 50px;
  top: 15px;
  z-index: 1;
}

#buscar_prestador select {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  border: 0;
  border-radius: 0.8rem;
  outline: 0;
  padding: 0 1.6rem;
  font: 700 1.6rem Vidaloka;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .header-content {
  max-width: 740px;
  align-items: center;
  margin: 0 auto;
  flex: 1 1;
  padding-bottom: 48px;
  width: 100%;
  display: inline-grid;
}

#text-content {
  max-width: 740px;
  justify-content: space-between;
  margin: 0 auto;
  flex: 1 1;
  padding-bottom: 48px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

#buscar_prestador button {
  width: 100%;
  height: 5.6rem;
  background: #ffffff;
  color: #000000;
  border: 0;
  border-radius: 0.8rem;
  outline: 0;
  cursor: pointer; /* Quando passarmos o mouse sobre o botão, a setinha vira uma mãozinha */
  font: 700 1.6rem Vidaloka;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s;
  margin-top: 3.1rem;
}

#buscar_prestador button:hover {
  background-color: #ccc1c1;
}

#containerServicoPrestado {
  background-color: white;
  border-radius: 0.8rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

#container_buttons {
  width: 98%;
  margin: 3rem;
  margin-block: auto;
}

#containerServicoPrestado button {
  width: 100%;
  height: 5rem;
  border-radius: 0.8rem;
  background-color: green;
  color: #000000;

  margin-top: 1rem;
  font: 800 1.6rem Vidaloka;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

#informacoes {
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#informacoes p {
  margin-bottom: 0rem;
}
#campoImagem {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0rem;
}

#campoImagem img {
  border-radius: 0.8rem;
  width: inherit;
  height: auto;
}
@media (min-width: 700px) {
  #buscar_prestador {
    display: flex;
  }

  #container_buttons {
    width: 98%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  #containerServicoPrestado button {
    width: 200px;
    height: 5rem;
    border-radius: 0.8rem;
    background-color: green;
    color: #000000;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font: 800 1.6rem Vidaloka;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
  }

  #containerServicoPrestado {
    margin: 0px 10%;
    margin-bottom: 3rem;
  }

  #buscar_prestador select {
    width: 200px;
    margin-right: 32px;
  }

  .page-header .button_historico_servicos {
    width: 90%;
  }

  .page-header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #buscar_prestador button {
    width: 200px;
  }
  #contratar_serviço #container {
    max-width: 100vw;
    max-height: 700px;
  }

  .page-header .header-content strong {
    max-width: 350px;
    font: 700 2.4rem Vidaloka;
    margin-top: 32px;
  }
}
