:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background: #031c2b;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  /* font: 500 1.6rem Poppins; /* Peso da fonte, tamanho da fonte e estilo da fonte */
  font-weight: 500;
  font-family: Vidaloka;
  font-size: 1.6rem;
  color: #ffffff;
}

#container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%; /* Todo 1rem vai ser relativo a 10px*/
  }
}
/* As mudanças realizadas nessa página vão ser a base para todas as páginas */
